OPENAI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://cgqkjzfifvbzorlthuil.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.[project-ref]:[password]@aws-0-us-east-1.pooler.supabase.com:5432/postgres
BASIC_AUTH_USER=
BASIC_AUTH_PASS=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUPPORT_DONATION_PRODUCT_NAME=
STRIPE_PRO_PRICE_ID=
NEXT_PUBLIC_STRIPE_DONATION_TEST_LINK=
