OPENAI_API_KEY=
DATABASE_URL="file:./dev.db"
BASIC_AUTH_USER=
BASIC_AUTH_PASS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
APP_ORIGIN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUPPORT_DONATION_PRODUCT_NAME=
STRIPE_PRO_PRICE_ID=
NEXT_PUBLIC_STRIPE_DONATION_TEST_LINK=
